<!-- 모든 mustache 파일의 body script 부분 -->
<script
  src="https://code.jquery.com/jquery-3.6.0.js">
  </script>
 <script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">
 </script>
 
 <!-- index.js 추가 -->
 <script src = "/js/app/index.js"></script>
  </body>
</html>